<section class="main">
  <app-input [itemParaEditarInput]="itemParaEditar"> </app-input>
  <div class="container">
    <div class="lista">
      <div class="header-lista">
        <h4 class="title-list">Lista de Compras</h4>
        <button class="btn-header" (click)="clearList()">
          <small>Limpar lista</small>
        </button>
      </div>
      <div *ngIf="listaItens.length !== 0; else notItems">
        <div *ngFor="let item of listaItens">
          <app-item [item]="item" (changeItem)="setItemEdit($event)"></app-item>
        </div>
      </div>
      <ng-template #notItems>
        <small> Nenhum item cadastrado </small>
      </ng-template>
    </div>
  </div>
</section>
